{% extends 'appointments/base.html' %}

{% block title %}Новая Заявка{% endblock %}

{% block content %}
<h2>Оформить заявку на консультацию</h2>
<form id="appointment-form" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="description">Техническая консультация по продуктам</label>
        <textarea name="description" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="appointment_date">Дата встречи</label>
        <input type="date" name="appointment_date" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="appointment_time">Время встречи</label>
        <input type="time" name="appointment_time" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Отправить заявку</button>
</form>

{% if form.errors %}
    <div class="alert alert-danger">
        <strong>Ошибка:</strong>
        <ul>
            {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors|join:", " }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    document.getElementById('appointment-form').addEventListener('submit', function(event) {
        event.preventDefault();

        // Получаем данные из формы
        const formData = new FormData(this);
        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });

        // Отправляем данные на сервер
        fetch('/api/', { // Заменить на правильный путь к = API
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'  // Передача CSRF-токена
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Ошибка сети');
            }
            return response.json();
        })
        .then(data => {
            // Переход на страницу "Мои заявки" после успешной отправки
            window.location.href = '/appointments/my_requests/'; // Заменить на правильный URL
        })
        .catch(error => {
            console.error('Ошибка:', error);
            alert('Возникла ошибка при отправке заявки.');
        });
    });
</script>
{% endblock %}
